langchain
langgraph
langchain-community
langchain-core
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers

streamlit

pypdf

python-dotenv

requests

transformers

huggingface_hub

torch
